.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu input, .menu span{
    display: none;
}

.menu_list{
    display: flex;
}

.menu_item{
    margin: 0 20px;
    cursor: pointer;
    font-size: 20px;
}

.menu_item:hover{
    text-decoration: underline;
    color:brown;
}

.header_bottom{
    text-align: center;
    margin-top: 10%;
}

.logo{
    font-family: 'Cormorant Garamond', serif;
    font-size: 35px;
    margin: 15px 0;
    cursor: pointer;
}

.select-language{
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}


header{
    background-image: url(../../assets/img/main.png);
    height: 600px;
    background-size: cover;
}

.logo a{
    color: black;
    text-decoration: none;
}

.header__bottom-title{
    font-size: 45px;
}

.header__bottom-text{
    font-size: 22px;
    margin-bottom: 40px;
    line-height: 30px;
}

@media(max-width: 1000px){
    .menu{
        position: relative;
    }
    .menu input{
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        right: -5px;
        top: 15px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }
    .menu span
    {
       display: block;
       width: 33px;
       height: 4px;
       margin-bottom: 5px;
       position: relative;
       background: #000;
       border-radius: 3px;
       z-index: 1;
       transform-origin: 4px 2px;
       transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }


    .menu_list{
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        background: #000;
        transform: translate(100%, 0);
        right: -20px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        flex-direction: column;
        color: #fff;
        text-align: center;
    }
    .menu input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg);
        background: #fff;
    }

    .menu input:checked ~ span:nth-child(3)
    {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    .menu input:checked ~ span:nth-child(4)
    {
        transform: rotate(-45deg);
    }
    .menu input:checked ~ .menu_list
    {
        transform: none;
    }
}

@media(max-width: 650px){
    .menu_list{
        width: -webkit-fill-available;
    }
  }