<footer>
    <div class="footer__row">
        <div class="footer__col">
         <p class="logo">Portfolio</p>
         <p>@ {{ 'footer.rights' | translate }}</p>
        </div>
        <div class="footer__col">
         <div class="second-col__social">
             <a href=""> <img src="https://img.icons8.com/fluency-systems-filled/48/ffffff/instagram-new.png" class="second-col__social-icon"> </a>
             <a href=""> <img src="https://img.icons8.com/ios-filled/50/ffffff/behance.png" class="second-col__social-icon"> </a> 
             <a href=""> <img src="https://img.icons8.com/ios-filled/50/ffffff/telegram-app.png" class="second-col__social-icon"> </a>
           </div>
            <p class="footer-text">{{ 'footer.text' | translate }}</p>
        </div>
    </div>
 </footer>