<table id="users">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Street</th>
            <th>Suite</th>
            <th>City</th>
            <th>Zipcode</th>
            <th>Geo(lat)</th>
            <th>Geo(lng)</th>
            <th>Phone</th>
            <th>Website</th>
        </tr>
    </thead>
    <tbody>
    
      <tr *ngIf="user">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.address.street}}</td>
            <td>{{user.address.suite}}</td>
            <td>{{user.address.city}}</td>
            <td>{{user.address.zipcode}}</td>
            <td>{{user.address.geo.lat}}</td>
            <td>{{user.address.geo.lng}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.website}}</td>
         
        </tr> 
        
    
     </tbody>
  </table>