
    <div class="block-aboutMe _container">
        <h3 class="title">{{ 'menu.about-me' | translate }}</h3>
        <div class="d-flex">
            <div class="block-aboutMe__item">
                <p class="block-aboutMe__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                <p class="block-aboutMe__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="block-aboutMe__item">
                <img src="assets/img/about-me.jpg" alt="" class="block-aboutMe__photo">
                <div class="block-aboutMe__photo-background"></div>
            </div>
            
        </div>
    </div>
    <div class="block-services _container">
    <h3 class="title">{{ 'menu.services' | translate }}</h3>
     <div class="d-flex">
         <div class="block-services__item">
             <img src="assets/img/portait.jpg" alt="" class="block-services__image">
             <div class="block-services__detail">
                 <p class="block-services__title">{{ 'block-services.portrait' | translate }}</p>
                 <p class="block-services__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
             </div>
         </div>
         <div class="block-services__item">
            <img src="assets/img/wedding.jpg" alt="" class="block-services__image">
            <div class="block-services__detail">
                <p class="block-services__title">{{ 'block-services.wedding' | translate }}</p>
                <p class="block-services__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
        </div>
        <div class="block-services__item">
            <img src="assets/img/child.jpg" alt="" class="block-services__image"> 
            <div class="block-services__detail">
                <p class="block-services__title">{{ 'block-services.child' | translate }}</p>
                <p class="block-services__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
        </div>
     </div>
    </div>
    <div class="block-works _container">
      <h3 class="title">{{ 'menu.works' | translate }}</h3>
      <div class="filter-row">
        <div class="search-box">
            <button class="btn-search"><img src="https://img.icons8.com/ios-glyphs/30/ffffff/search--v1.png" alt="" class="search-icon"></button>
            <input type="text" class="input-search" placeholder="Type to Search...">
          </div>
          <div class="filter-box">
            <button class="btn-search"><img src="https://img.icons8.com/material-rounded/24/ffffff/filter.png" alt="" class="filter-icon"></button>
            <div class="filter-box__content">
                <p class="filter-box__content-title">Filter</p>
                <div class="filter-box__content-tegs">
                    <p class="teg-title">Teg:</p>
                    <div class="teg-row">
                        <div class="teg-item">{{ 'block-services.wedding' | translate }}</div>
                        <div class="teg-item">{{ 'block-services.child' | translate }}</div>
                        <div class="teg-item">{{ 'block-services.travel' | translate }}</div>
                        <div class="teg-item">{{ 'block-services.portrait' | translate }}</div>
                    </div>
                    
                    
                </div>
                <div class="filter-box__content-date">
                    <p class="date-title">Date:</p>
                    <div class="date-row">
                        <div class="date-item">Last month</div>
                        <div class="date-item">Last year</div>
                    </div>
                </div>
            </div>
          </div>
      </div>
      <div class="block-works__row">
        <div class="block-works__col">
            <div class="block-works__item">
                <img src="assets/img/travel.jpg" alt="" class="block-works__img">
                <div class="block-works__img-background">
                    <p class="background_date">13.03.2003</p>
                    <p class="background-name">Name</p>
                    <p class="background-teg">{{ 'block-services.travel' | translate }}</p>
                    <p class="background-price">50$</p>
                </div>
            </div>
            <div class="block-works__item">
                <img src="assets/img/portait2.jpg" alt="" class="block-works__img">
                <div class="block-works__img-background">
                    <p class="background_date">13.03.2003</p>
                    <p class="background-name">Name</p>
                    <p class="background-teg">{{ 'block-services.portrait' | translate }}</p>
                    <p class="background-price">50$</p>
                </div>
            </div>
            <div class="block-works__item">
                <img src="assets/img/child2.jpg" alt="" class="block-works__img">
                <div class="block-works__img-background">
                    <p class="background_date">13.03.2003</p>
                    <p class="background-name">Name</p>
                    <p class="background-teg">{{ 'block-services.child' | translate }}</p>
                    <p class="background-price">50$</p>
                </div>
            </div>
            
        </div>
        <div class="block-works__col">
            <div class="block-works__item">
                <img src="assets/img/portait.jpg" alt="" class="block-works__img">
                <div class="block-works__img-background">
                    <p class="background_date">13.03.2003</p>
                    <p class="background-name">Name</p>
                    <p class="background-teg">{{ 'block-services.portrait' | translate }}</p>
                    <p class="background-price">50$</p>
                </div>
            </div>
            <div class="block-works__item">
                <img src="assets/img/travel3.jpg" alt="" class="block-works__img">
                <div class="block-works__img-background">
                    <p class="background_date">13.03.2003</p>
                    <p class="background-name">Name</p>
                    <p class="background-teg">{{ 'block-services.travel' | translate }}</p>
                    <p class="background-price">50$</p>
                </div>
            </div>
            <div class="block-works__item">
                <img src="assets/img/wedding.jpg" alt="" class="block-works__img">
                <div class="block-works__img-background">
                    <p class="background_date">13.03.2003</p>
                    <p class="background-name">Name</p>
                    <p class="background-teg">{{ 'block-services.wedding' | translate }}</p>
                    <p class="background-price">50$</p>
                </div>
            </div>
           
        </div>
        <div class="block-works__col">
            <div class="block-works__item">
                <img src="assets/img/travel2.jpg" alt="" class="block-works__img">
                <div class="block-works__img-background">
                    <p class="background_date">13.03.2003</p>
                    <p class="background-name">Name</p>
                    <p class="background-teg">{{ 'block-services.travel' | translate }}</p>
                    <p class="background-price">50$</p>
                </div>
            </div>
            <div class="block-works__item">
                <img src="assets/img/child.jpg" alt="" class="block-works__img">
                <div class="block-works__img-background">
                    <p class="background_date">13.03.2003</p>
                    <p class="background-name">Name</p>
                    <p class="background-teg">{{ 'block-services.child' | translate }}</p>
                    <p class="background-price">50$</p>
                </div>
            </div>
            <div class="block-works__item">
                <img src="assets/img/wedding2.jpg" alt="" class="block-works__img">
                <div class="block-works__img-background">
                    <p class="background_date">13.03.2003</p>
                    <p class="background-name">Name</p>
                    <p class="background-teg">{{ 'block-services.wedding' | translate }}</p>
                    <p class="background-price">50$</p>
                </div>
            </div>
           
        </div>
      </div>
    </div>
    <app-table></app-table>
    <div class="block-review _container">
    <h3 class="title">{{ 'menu.review' | translate }}</h3>
    <div class="review-item">
        <p class="review-name">Name Surname</p>
        <p>Subject</p>
        <p class="review-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus expedita sit rerum molestiae aperiam eaque laborum ad est quibusdam architecto vel molestias, minus nihil quidem, minima in. Nesciunt, consequatur reprehenderit?</p>
    </div>
    </div>
    <div class="block-contact _container">
    <h3 class="title">{{ 'menu.contact' | translate }}</h3>
    
    <div class="block-contact__row">
        <div class="block-contact__first-col">
            <p class="first-col__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor voluptas quibusdam voluptatibus, recusandae a hic eveniet necessitatibus incidunt consequatur veritatis iste repellendus modi reiciendis tenetur minima tempore quia mollitia consectetur?</p>
          <form action="">
            <div class="first-col__row">
                <p class="contact-name">
                    <label>{{ 'block-contact.name' | translate }}</label>
                    <span>
                        <input type="text">
                    </span>
                </p>
                <p class="contact-email">
                    <label>{{ 'block-contact.email' | translate }}</label>
                    <span>
                        <input type="text">
                    </span>
                </p>
                <p class="contact-subject">
                    <label>{{ 'block-contact.subject' | translate }}</label>
                    <span>
                        <input type="text">
                    </span>
                </p>
            </div>
            <p class="contact-message">
                <label>{{ 'block-contact.message' | translate }}</label>
                <span>
                    <textarea name="textarea-message" id="" cols="40" rows="10" class="input-text"></textarea>
                </span>
            </p>
            <a href="" class="button">{{ 'button' | translate }}</a>
          </form>
        </div>
        <div class="block-contact__second-col">
            <img src="assets/img/photo1.png" alt="" class="second-col__avatar">
            
            <ul class="second-col__list">
                <li class="second-col__item">{{ 'block-contact.phone' | translate }}: 1234556</li>
                <li class="second-col__item">{{ 'block-contact.email' | translate }}: example@gmail.com</li>
                <li class="second-col__item">{{ 'block-contact.location' | translate }}: Lviv, Ukraine</li>
            </ul>
        </div>
    </div>
    </div>
